---
version: '3.5'

services:
  etcd1:
    image: bitnami/etcd:3.4.16
    hostname: etcd1
    expose:
      - "2379"
    # ports:
    #  - 2379:2379
    #  - 2380:2380
    networks:
      - etcd-net
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
      - ETCD_NAME=etcd1
      - ETCD_INITIAL_ADVERTISE_PEER_URLS=http://etcd1:2380
      - ETCD_LISTEN_PEER_URLS=http://0.0.0.0:2380
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_ADVERTISE_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_INITIAL_CLUSTER_TOKEN={{ etcd_initial_cluster_token }}
      - ETCD_INITIAL_CLUSTER=etcd1=http://etcd1:2380
      - ETCD_INITIAL_CLUSTER_STATE=new
    volumes:
      - etcd1:/bitnami/etcd
    deploy:
      replicas: 1
    restart: on-failure:5

  minio1:
    image: minio/minio:RELEASE.2021-05-27T22-06-31Z
    hostname: minio1
    container_name: minio1
    volumes:
      - /volume3/55TB-backup:/shares/55TB-backup:ro
      - /volume7/Audubon:/shares/Audubon:ro
      - /volume6/BB:/shares/BB:ro
      - /volume4/HSI:/shares/HSI:ro
      - /volume5/HTI:/shares/HTI:ro
    expose:
      - "9000"
    # ports:
    # - 7010:9000
    networks:
      - etcd-net
      - traefik-public
    environment:
      - MINIO_ROOT_USER={{ minio_root_user }}
      - MINIO_ROOT_PASSWORD={{ minio_root_password }}
      - MINIO_ETCD_ENDPOINTS=http://etcd1:2379
      - MINIO_IDENTITY_OPENID_CONFIG_URL=https://identity.nyc01.cuspuo.org/auth/realms/UO/.well-known/openid-configuration
      - MINIO_IDENTITY_OPENID_CLIENT_ID=storage
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.minio1.service=minio1"
      - "traefik.http.services.minio1.loadbalancer.server.port=9000"
      # default route over https
      - "traefik.http.routers.minio1.rule=Host(`storage01.{{ le_route_53_domain }}`)"
      - "traefik.http.routers.minio1.entrypoints=https"
      - "traefik.http.routers.minio1.tls.certresolver=route53"
      - "traefik.http.routers.minio1.tls=true"
      # HTTP to HTTPS
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.minio-redirs.rule=hostregexp(`{host:.+}`)"
      - "traefik.http.routers.minio-redirs.entrypoints=http"
      - "traefik.http.routers.minio-redirs.middlewares=redirect-to-https"
    command: gateway nas /shares
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    restart: on-failure:5

volumes:
  etcd1:

networks:
  etcd-net:
  traefik-public:
    external: true
    name: traefik-public
